* {
  box-sizing: border-box;
}
body {
  background-color: darkblue;
}
.container {
  width: 50%;
  max-width: 800px;
  margin: auto;
  background: red;
  margin-top: 20%;
  display: flex;
}
.left-side {
  flex: 1;
}
.right-side {
  flex: 1;
}
.img {
  width: 100%;
}
