* {
  box-sizing: border-box;
}
body {
  background-color: darkblue;
}
.container {
  width: 50%;
  margin: auto;
  background: red;
  margin-top: 500px;
  display: flex;
}
.left-side {
  flex: 1;
}
.right-side {
  flex: 1;
}
.img {
}
