* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
.navDiv {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1em;
  cursor: pointer;
}
.logo {
  margin-left: 1em;
  width: 7em;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.link {
  margin-top: 0.5em;
  margin-right: 1em;
  font-weight: 400;
}
.image1,
.image2 {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  width: 80%;
}
.heading1 {
  font-size: 1.75rem;
  margin: 1em 1.5em;
  text-align: center;
  line-height: 1.5em;
}
.paragraph1 {
  line-height: 1.5em;
  margin: 1em 4.25em;
  text-align: center;
}
