* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
.navDiv {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1em;
  cursor: pointer;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.link {
  margin-top: 0.5em;
  margin-right: 1em;
}
