body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#container {
  display: grid;
  width: 500px;
  grid-template-columns: 1fr 1fr;
}
#result {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 6%;
  width: 330px;
  height: 450px;
}
#points {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  text-align: center;
  color: white;
  font-size: 70px;
  font-weight: 600;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  padding: 50px;
}
#points span {
  font-size: 15px;
  font-weight: 300;
  color: hsl(241, 100%, 89%);
  display: block;
  position: absolute;
  top: 65%;
  left: 39%;
}
#titleResult {
  text-align: center;
  color: hsl(241, 100%, 89%);
  font-weight: 500;
  padding-top: 10px;
}
#congrats {
  color: white;
  text-align: center;
  font-size: 28px;
}
#aboutYou {
  color: hsl(241, 100%, 89%);
  font-size: 15px;
  padding-left: 20%;
}
#aboutYou span {
  padding-left: 23%;
}
#summary {
  position: relative;
  box-shadow: 5px 5px 5px hsl(221, 100%, 96%), 5px 0px 5px hsl(221, 100%, 96%);
  border-top-right-radius: 6%;
  border-bottom-right-radius: 6%;
  width: 330px;
  height: 450px;
}
#titleSum {
  color: hsl(224, 30%, 27%);
  padding-top: 10px;
  padding-left: 50px;
}
ul > li {
  margin-top: 20px;
  border-radius: 15px;
  padding: 10px 5px 10px 15px;
  margin-left: 15px;
  margin-right: 45px;
}
#listOf {
  list-style: none;
}
#listOf span {
  position: absolute;
  right: 20%;
  color: hsl(224, 30%, 27%);
}
li:nth-child(1) {
  background: hsl(0, 100%, 67%, 0.05);
  background-image: url("assets/images/icon-reaction.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  color: hsl(0, 100%, 67%);
  padding-left: 30px;
}
li:nth-child(2) {
  background: hsl(39, 100%, 56%, 0.05);
  background-image: url("assets/images/icon-memory.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  color: hsl(39, 100%, 56%);
  padding-left: 30px;
}
li:nth-child(3) {
  background: hsl(166, 100%, 37%, 0.05);
  background-image: url("assets/images/icon-verbal.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  color: hsl(166, 100%, 37%);
  padding-left: 30px;
}
li:nth-child(4) {
  background: hsl(234, 85%, 45%, 0.05);
  background-image: url("assets/images/icon-visual.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  color: hsl(234, 85%, 45%);
  padding-left: 30px;
}
.btn {
  display: block;
  margin: 0 auto;
  padding: 15px 90px 15px 90px;
  border: 0;
  border-radius: 25px;
  background-color: hsl(224, 30%, 27%);
  color: white;
  margin-right: 40px;
}
@media (max-width: 375px) {
  body {
    display: block;
    margin: 0;
  }
  #container {
    display: grid;
    width: 100%;
    grid-template-areas:
      "result"
      "summary"
      "summary";
  }
  #result {
    grid-area: result;
    width: 370px;
  }
  #summary {
    grid-area: summary;
    position: absolute;
    top: 50%;
    left: 10%;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
  }
  h3#titleSum {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin-bottom: 0;
  }
  ul#listOf {
    margin-top: 0;
    position: absolute;
    right: 0;
    border-radius: 10px;
    width: 390px;
  }
  li {
    width: 230px;
  }
  ul > li {
    padding: 15px 50px 15px 50px;
  }
  .btn {
    position: absolute;
    top: 90%;
    right: 5%;
    padding-left: 130px;
    padding-right: 130px;
  }
}
@media (max-width: 650px) {
  body {
    display: block;
  }
  #container {
    display: grid;
    width: 100%;
    grid-template-areas:
      "result"
      "summary"
      "summary";
  }
  #result {
    grid-area: result;
  }
  #summary {
    grid-area: summary;
  }
}
