* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    display: block;
}
.chat-container {
    display: grid;
    place-items: center;
    margin: 0 auto;
    margin-top: 2em;
    border: 2px solid red;
    max-width: 450px;
}
.profile-section {
    display: flex;
    width: 100%;
    height: 100px;
    padding-top: 2em;
    padding-left: 6em;
    flex-direction: column;
    background-color: hsl(264, 100%, 61%);
    background-image: linear-gradient(to right,hsl(264, 100%, 61%),hsl(293, 100%, 63%));
    color: white;
    position: relative;
}
.profile-img {
    width: 2.85em;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    left: 3em;
}
.chat-section {
    padding: 2em;
    background-color: hsl(270, 20%, 96%);
    font-size: 0.8em;
    font-weight: 500;
}
p.left {
    color: hsl(276, 55%, 52%);
    background-color: hsl(270, 7%, 64%, 0.2);
    padding: 1em;
    width: 60%;
    border-radius: 1em;
}
.first, .second, .third {
    margin-bottom: 1em;
}
.image-section {
    float: right;
    width: 60%;
}
.dog {
    width: 5em;
    height: 5em;
    border-radius: 1em;
    margin-right: 1em;
}
p.right {
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    width: 60%;
}
.right-section {
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}